{% extends 'base.html' %}

{% block title %}Transaction{% endblock %}

{% block style %}

	.card {
	   background-color: #FFFFFF;
	   width: 95%;
	   margin: 10px auto 10px auto;

	   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	}
	.card-content {
	   padding: 10px 10px 10px 10px;
	}

{% endblock %}


{% block content %}
<h2><strong>Transaction</strong></h2>
<form method="post">
  {% csrf_token %}
  
	<!-- <div>
	<h4><strong> From Username:</strong></h4> <h4 style="color: gray"> {{request.user.username}} </h4>
	</div> -->

	<div>
	<h4><strong> Your Balance:</strong> {{request.user.uWalletBalance}} </h4>
	</div>

	<div class="card">
		<div class="card-content">
			
			<p> Generate Your OTP:
				<a href="{% url 'verify_otp_for_add_money' %}">
					<button type ="button" style="background-color: #4CAF50; color: white;">Generate</button>
				</a>
			</p>
			<ul class="errorlist"><li>Generate your OTP first and check your mail (do not forgot to check your spam folder).</li></ul>

			{{form.as_p}}

			<p> Enter OTP: 
			<input type = "number"
			                 name = "otp_field"
			                 maxlength = "8" value="" required />

			</p>

			<ul class="errorlist"><li>All fields are required.</li></ul>

			<br>
			
		  	<button type="submit">Pay Now</button>

		</div>
	</div>

</form>

<div class="card">
	<div class="card-content">

		<p> Request Money from your friend: 
			<a href="/moneyrequest">
				<button type ="button" style="background-color: #eb34d3; color: white;">Request</button>
			</a>
		</p>
		<p> Send Money to your friend: 
			<a href="/transactions">
				<button type ="button" style="background-color: dodgerblue; color: white;">Send</button>
			</a>
		</p>
	</div>
</div>

{% endblock %}