{% include "theme.html" %}


{% block content %}	
	<table class="table table-striped table-bordered table-sm">
		<thead class="thead-dark">
			<tr>
				<th>User ID</th>
				<th>User Name</th>
				<th>User Email</th>
				<th>User Contact</th>
				<!-- <th>Actions</th> -->
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
			<tr>
				<td> {{user.uid}} </td>
				<td> {{user.uname}} </td>
				<td> {{user.uemail}} </td>
				<td> {{user.ucontact}} </td>
			</tr>

			{% endfor %}
		</tbody>
	</table>

{% endblock %}