{% extends 'base.html' %}

{% block title %}Friends{% endblock %}

{% block style %}

    .card {
       background-color: #FFFFFF;
       width: 95%;
       margin: 10px auto 10px auto;

       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .card-content {
       padding: 10px 10px 10px 10px;
    }

{% endblock %}


{% block content %}

<div class="card">
    <div class="card-content">
        <h2>Friend Suggestions!</h2>
        <hr>
        {% if not users %}
        <p> No Suggestions </p>
        {% endif %}
        <table>
            {% for user in users %}
            <tr>
                <td>
                    <h4 >{{ user.username }}</h4>
                </td>
                    <td>
                         <form action="{% url 'friends:change_friends' operation='add' pk=user.username %}" method="POST" >
                            {% csrf_token %}
                     <button type ="submit"> Add Friend</button>

                    </form>

                    </td>

            </tr>

            {% endfor %}

        </table>
    </div>
</div>

<div class="card">
    <div class="card-content">
        <h3> Friend Requests </h3>
        <hr>
        {% if not friends_mine %}
        <p> No pending requests. </p>
        {% endif %}
        <table>
            {% for friend2 in friends_mine %}
            <tr>
                <td>
                    <h4>{{ friend2.sendername }}</h4>
                </td>

                <td>

                  <form action="{% url 'friends:change_friends' operation='accept' pk=friend2.sendername %}" method="POST" >
                            {% csrf_token %}
                     <button type ="submit"> Accept Friend</button>
                  </form>

                </td>

                <td>

                </td>

                 <td>
                 <form action="{% url 'friends:change_friends' operation='reject' pk=friend2.sendername %}" method="POST" >
                            {% csrf_token %}
                     <button type ="submit"> Reject Friend</button>
                  </form>

                </td>
            </tr>
               {% endfor %}
        </table>

    </div>
</div>


<div class="card">
    <div class="card-content">
        <h3> Friends </h3>
        <hr>
        {% if not friends %}
        <p> You have no Friends :( </p>
        {% endif %}
        <table>
            {% for friend in friends %}
            <tr>
                <td>
                    <h4>{{ friend.recievername }}</h4>
                </td>

                <td>
                <form action="{% url 'friends:change_friends' operation='remove' pk=friend.recievername %}" method="POST" >
                            {% csrf_token %}
                     <button type ="submit"> Remove Friend</button>
                  </form>


                </td>
                <td>
                  <a href="/timeline/user/{{friend.recievername}}">
                    <button type = "button" style="background-color: dodgerblue; color: white">Post on Timeline</button>
                  </a>
                </td>
                {% if request.user.role == 'premium' or request.user.role == 'commercial' %}
                <td>
                  <a href="/chat/user/{{friend.recievername}}">
                    <button type = "button" style="background-color: green; color: white">Chat with Me</button>
                  </a>
                </td>
                {% endif %}
            </tr>
               {% endfor %}
        </table>
    </div>
</div>

{% endblock %}