{% extends 'base.html' %}

{% block title %}Groups{% endblock %}

{% block style %}

    .card {
       background-color: #FFFFFF;
       width: 95%;
       margin: 10px auto 10px auto;

       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
    .card-content {
       padding: 10px 10px 10px 10px;
    }

{% endblock %}

{% block content %}
    {% for var5 in extra_info %}
    {% if not var5.role == 'casual' %}

        <div class="card">
            <div class="card-content">
                <h3> Create Group </h3>
                <hr>
                <form   method="POST" role="form" >
                    {% csrf_token %}

                    <input type = "text" name = "myText" maxlength = "20" value=""  placeholder="Enter group name" required/>
                    <br>
                    <input type="number" step="1" name = "priceText" value="100"/>

                <br>
                    <input type="submit" value="Create Group">

                </form>
            </div>
        </div>
    

    {% endif %}
    {% endfor %}

    
    <div class="card">
        <div class="card-content">
            <h3> Join Group </h3>
            <hr>
            {% if not group_display1 %}
            <p> No groups available. </p>
            {% endif %}
            <table>

                {% for var1 in group_display1 %}

                <tr>
                    <td>
                        <h4 >{{ var1.group_name }}</h4>
                    </td>

                    <td>

                    </td>
                    <td>
                        <h4 >Membership Cost : Rs {{ var1.price }}</h4>
                    </td>

                     <td>
                        <a href="{% url 'groups:group_operations'  operation='join' variable=var1.group_name pk=var1.group_name %}">
                            <button type ="button"> Join Group </button>
                        </a>
                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>
    </div>



    <div class="card">
        <div class="card-content">
            <h3> Join Requests </h3>
            <hr>
            {% if not recieved_requests1 %}
            <p> No pending request. </p>
            {% endif %}
            <table>

                {% for var2 in recieved_requests1 %}

                <tr>
                    <td>
                        <h4 >{{ var2.member_name }}</h4>
                    </td>

                     <td>
                         <h4>{{ var2.group_name }}</h4>
                    </td>

                     <td>
                        <a href="{% url 'groups:group_operations'  operation='accept' variable=var2.group_name pk=var2.member_name %}">
                            <button type ="button"> Accept Request </button>
                        </a>
                    </td>

                    <td>

                    </td>

                    <td>
                    <a href="{% url 'groups:group_operations'  operation='reject' variable=var2.group_name pk=var2.member_name %}">
                            <button type ="button"> Reject Request</button>
                        </a>

                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>
    </div>
    


    <div class="card">
        <div class="card-content">
            <h3> My Groups </h3>
            <hr>
            
            {% if not mygroups %}
            <p> You have not enrolled in any group. </p>
            {% endif %}

            <table>

                {% for var3 in mygroups %}

                <tr>
                    <td>
                        <h4 >{{ var3.group_name }}</h4>
                    </td>

                     <td>
                        <a href="{% url 'groups:group_operations'  operation='leave' variable=var3.group_name pk=var3.group_name %}">
                            <button type ="button"> Leave Group </button>
                        </a>
                    </td>

                    <td>

                    </td>

                </tr>

                {% endfor %}

            </table>

        </div>
    </div>
    
    
    {% if ownedgroups %}
        <div class="card">
            <div class="card-content">
                <h3> Owned Groups </h3>
                <hr> 
                <table>
                    {% for var4 in ownedgroups %}
                        {% if not var5.role == 'casual' %}

                            <tr>
                                <td>
                                    <h4 >{{ var4.group_name }}</h4>
                                </td>

                                 <td>
                                    <a href="{% url 'groups:group_operations'  operation='delete' variable=var4.group_name pk=var4.group_name %}">
                                        <button type ="button"> Delete Group </button>
                                    </a>
                                </td>

                                <td>

                                </td>

                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endif %}


<div class="card">
        <div class="card-content">
           <h3> Delete Group Members </h3>
            <hr>

        <table>
        
            {% for var5 in manage_info %}
        
            <tr>
                <td>
                    <h4 >{{ var5.group_name }}</h4>
        
                </td>
        
            </tr>
            <tr>
        
                 {% for var6 in manage_info %}
                {% if var6.group_name == var5.group_name %}
                <td>
                    <h4 >{{ var6.member_name }}</h4>
                </td>
        
        
                 <td>
                    <a href="{% url 'groups:group_operations'  operation='deletemember' variable=var6.group_name pk=var6.member_name %}">
                        <button type ="button"> Delete Member </button>
                    </a>
                </td>
        
                {% endif %}
                {% endfor %}
        
                <td>
        
                </td>
        
            </tr>
        
            {% endfor %}
        
        </table>
        
</div>
</div>

<div class="card">
        <div class="card-content">
           <h3> Add Members To Group </h3>
            <hr>

<table>

    {% for var5 in manage_info %}

    <tr>

        {% for var6 in manage_info %}

                {% if var6.group_name == var5.group_name %}

                            {% for var7 in manage %}

                                {% if  var7.username == var6.member_name %}

                                 {% else %}

                                         <td>
                                        <h4 >{{ var5.group_name }}</h4>
                                         </td>

                                        <td>
                                            <h4 >{{ var7.username }}</h4>
                                        </td>


                                         <td>
                                            <a href="{% url 'groups:group_operations'  operation='addmember' variable=var6.group_name pk=var7.username %}">
                                                <button type ="button"> Add Member </button>
                                            </a>
                                        </td>

                                {% endif %}

                            {% endfor %}
                {% endif %}
    </tr>

        {% endfor %}

    {% endfor %}

</table>

</div>
</div>

<table>

    {% for var4 in manage2 %}

    <tr>
        <td>
            <h4 >{{ var4.group_name }}</h4>
        </td>
    </tr>


        {% for var5 in manage %}
    <tr>

        <td>
            <h4 >{{ var5.username }}</h4>
        </td>



         <td>
            <a href="{% url 'groups:group_operations'  operation='addmember' variable=var4.group_name pk=var5.username %}">
                <button type ="button"> Add Member </button>
            </a>
        </td>

        <td>

        </td>

    </tr>
    {% endfor %}
    {% endfor %}


</table>

    

    
{% endblock %}